*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

#bg{
    height: 100vh;
    width: 100vw;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
}

#track{
    height: 25vh;
    width: 1000vw;
    background-image: url(tr.png);
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    top: 75vh;
    animation: runningTrack 3s linear infinite;
}

.gameOver{
    position: absolute;
    left: 33%;
    top: 10%;
    height: 77px;
    width: 463px;
    font-size: 30px;
    color: #54212f;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    visibility: hidden;

}

.player{
    height: 150px;
    width: 119px;
    position: absolute;
    bottom: 24.6%;
    left: 13%;
    animation: runningPlayer linear .3s infinite;
}

#score{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

.tomato{
    height: 55px;
    width: 55px;
    background-image: url(tomato.png);
    background-size: cover;
    position: absolute;
    bottom: 39%;
    left: 172%;
    visibility: visible;
}

.cheese{
    height: 55px;
    width: 55px;
    background-image: url(cheese.png);
    background-size: cover;
    position: absolute;
    bottom: 39%;
    left: 172%;
    visibility: visible;
}

.karela{
    height: 55px;
    width: 55px;
    background-image: url(karela.png);
    background-size: cover;
    position: absolute;
    bottom: 39%;
    left: 172%;
    visibility: visible;
}

.enemy{
    height: 150px;
    width: 75px;
    position: absolute;
    bottom: 25%;
    left: 72%;
    animation: walkingTowardsPlayer linear 7s infinite, walkingEnemy linear .7s infinite;
}

.jumping{
    animation: jumpingPlayer 2s linear;
}

.foodAnimation{
   animation: walkingTowardsPlayer linear 9s infinite;
}

@keyframes runningPlayer{
    0%{
        background-image: url(player1.png);
        background-size: cover;
    }
    50%{
        background-image: url(player3.png);
        background-size: cover;
    }
    100%{
        background-image: url(player4.png);
        background-size: cover;
    }
}

@keyframes runningTrack{
    100%{
        transform: translateX(-50vw);
    }
}

@keyframes jumpingPlayer{
    0%{
        bottom: 24.6%;
        background-image: url(player1.png);
    }
    25%{
        bottom: 39.6%;
        background-image: url(player1.png);
    }
    50%{
        bottom: 54.6%;
        background-image: url(player1.png); 
    }
    75%{
        bottom: 39.6%;
        background-image: url(player1.png);
    }
    100%{
        bottom: 24.6%;
        background-image: url(player1.png);
    }
}
@keyframes walkingEnemy{
    0%{
        background-image: url(enemy1.png);
        background-size: cover;
    }
    11.1%{
        background-image: url(enemy2.png);
        background-size: cover;
    }
    22.2%{
        background-image: url(enemy3.png);
        background-size: cover;
    }
    33.3%{
        background-image: url(enemy4.png);
        background-size: cover;
    }
    44.4%{
        background-image: url(enemy5.png);
        background-size: cover;
    }
    55.5%{
        background-image: url(enemy6.png);
        background-size: cover;
    }
    66.6%{
        background-image: url(enemy7.png);
        background-size: cover;
    }
    77.7%{
        background-image: url(enemy8.png);
        background-size: cover;
    }
    88.8%{
        background-image: url(enemy9.png);
        background-size: cover;
    }
    100%{
        background-image: url(enemy1.png);
        background-size: cover;
    }
}

@keyframes walkingTowardsPlayer{
    0%{
        left: 172%;
    }
    100%{
        left: -10%;
    }
}
      